@import "./base";

.container {
  display: flex;
}

.header {
  height: 5rem;
}

.content {
  flex: 1;
  padding: 2rem 4rem;
}

.footer {
  text-align: center;
  background: $palette-grey-900;
  color: $palette-grey-50;
  padding: 3rem;
}
